.header {
  composes: heading from '../common/typography';
  text-align: center;
  margin-top: 80px;
}

.description {
  composes: normal from '../common/typography';
}

.contribute {
  composes: small from '../common/typography';
}
